.home {
  @media (max-width:768px) {
    &-bg-banner {
      height: 360px;
      background-image: url("../images/home-bg-sm.jpg");
      background-size: cover;
      background-position: center;
      position: relative;
    }
    &-title {
      position: absolute;
      top: 35%;
      text-align: center;
    }
  }
}
.tag {
  font-size: 16px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  right: 0;
  &-primary {
    background-color: $primary;
  }
  &-secondary {
    background-color: $secondary;
  }
  &-red {
    background-color: $danger;
  }
  &-primary-dark {
    background-color: #005277;
  }
}