.accordion {
  &-item {
    border: none;
    &.active {
      box-shadow: 0 0 10px rgba(0,0,0,.5);
    }
    &:hover {
      box-shadow: 0 0 10px rgba(0,0,0,.5);
    }
  }
  &-button {
    &:not(.collapsed) {
      color: $primary;
      background-color: transparent;
      box-shadow: none;
    }
    &:focus {
      border-color: transparent;
      box-shadow: none;
    }
  }
}