.btn {
  &-link {
    color: $white;
    text-decoration: none;
    line-height: 0;
    border: 0;
    padding: 0;
  }
  &-gradient {
    font-size: 18px;
    line-height: 26px;
    color: $white;
    background-image: linear-gradient(104deg, #09ACF5, #62DB54);
    border: none;
    &:hover {
      background-image: linear-gradient(104deg, #2eb8f7, #7ae06e);
    }
  }
  &-outline {
    &-gradient {
      font-size: 18px;
      line-height: 26px;
      color: $white;
      border: 1px solid $white;
      &:hover {
        background-image: linear-gradient(104deg, #2eb8f7, #7ae06e);
        color: $dark!important;
      }
    }
    &-white {
      border-color: $white;
      &:hover {
        background-color: $white;
        color: $dark;
      }
    }
    &-gray {
      border-color: $gray-700;
      &:hover {
        border-color: $secondary;
        color: $secondary;
        background-color: $dark;
      }
      &.active {
        border-color: $secondary;
        color: $secondary;
        background-color: $dark;
      }
    }
  }
  &-chart {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    border-left: 32px solid transparent;
    border-bottom: 32px solid $primary;
    &.open {
    border-bottom: 32px solid $secondary;
    }
    & .plus {
      position: absolute;
      bottom: -28px;
      right: 4px;
      font-size: 10px;
      line-height: 10px;
    }
    & .minus {
      display: none;
      position: absolute;
      bottom: -28px;
      right: 4px;
      font-size: 10px;
      line-height: 10px;
    }
  }
  &-close {
    background: url("/assets/images/close_white_24dp.svg");
    position: absolute;
    top: 30px;
    right: 24px;
    @media (max-width:767px) {
      top: 16px;
    }
  }
  &-dark-close {
    width: 48px;
    height: 48px;
    color: $gray-500;
    background: rgba(9,172,245,.25);
    border-radius: 50%;
    position: absolute;
    top: -24px;
    right: -24px;
    z-index: 2;
    & .material-icons {
      font-size: 36px;
      margin-top: -1px;
      margin-left: -6px;
    }
  }
  &-toTop {
    position: fixed;
    right: 40px;
    bottom: 56px;
    width: 56px;
    height: 56px;
    background-color: $gray-200;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 3px 6px;
    z-index: 99;
    &::before {
      content: "";
      position: relative;
      border-width: 16px 12px;
      border-color: transparent;
      border-style: solid;
      border-bottom-color: $dark;
      top: -22px;
    }
  }
}