.form {
  &-control {
    width: 100%;
    padding: 8px 16px;
    background-color: $dark;
    border: 1px solid $white;
    border-radius: 4px;
    &:disabled {
    background-color: $gray-800;
    border-color: $gray-800;
    }
    &:focus {
    background-color: rgba(0,0,0,0);
    }
  }
  &-select {
    background-color: $dark;
    background-image: url("../images/expand_more_white_24dp.svg");
    background-size: 20px;
    padding: 8px 16px;
  }
}