.modal {
  &-dialog {
    max-width: 100%;
    margin: 0;
  }
  &-dialog-centered {
    min-height: 100%;
  }
  &-content {
    background-color: $gray-800;
    border: 1px solid $white;
    border-radius: 0;
    padding: 24px 0 48px;
    @media (max-width:767px) {
      padding: 40px 24px;
    }
  }
  &-title {
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
  }
  &-footer {
    display: block;
  }
}
.modal-footer > * {
  margin: 0;
}