.bg-progressBar {
  background-color: $gray-800;
  @media (max-width:767px) {
    background-color: $dark;
  }
}
.timeline {
  &-pointer {
    position: relative;
    color: $white;
    a {
      display: inline-block;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 0;
      padding-top: 36px;
      &:hover {
        color: $primary;
      }
    }
    p {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 0;
      padding-top: 36px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      border: 2px solid $white;
      border-radius: 50%;
      background-color: $dark;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Roboto";
      z-index: 1;
    }
    &.step-1::before {
      content: "1";
    }
    &.step-2::before {
      content: "2";
    }
    &.step-3::before {
      content: "3";
    }
    &.active {
      color: $primary;

    }
    &.active {
      color: $primary;
      &::before {
        color: $white;  
        background-color: $primary;
        border-color: $primary;
      }
    }
  }
}
.timeline-white {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;  
    right: 0;
    height: 2px;
    background-color: $white;
  }
}
.timeline-middle {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    right: 50%;
    height: 2px;
    background-color: $primary;
  }
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 50%;
    right: 0;
    height: 2px;
    background-color: $white;
  }
}
.timeline-primary {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;  
    right: 0;
    height: 2px;
    background-color: $primary;
  }
}